body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.main_page{

    height: 100%;
    width: 100%;
    
    background-image: url(../img1/Layer\ 21@1X.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.label-item{
    margin: 0px 0px 4rem 2rem;
}
h1.title{
    color: whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.p-main_page{
    font-size: 0.7rem;
    color: whitesmoke;
    margin: 0.12rem 0px 3rem 0px;
}
a.main-button{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.172);

    padding: 1.25rem 1.5rem;
    margin: 0px;

    border: whitesmoke solid 1px;

}
a.main-button:hover{
    background-color: rgba(0, 0, 0, 0.3); 
    color: #F1AD1D;
    text-shadow: #edbd559f;
}
a.main-button:hover span{
    color: whitesmoke;
}
